    *{
        margin:0;
        padding: 0;
        font-family: 'Open Sans'
    }

    ul{
        list-style: none;
        margin: 0;
        padding:0
    }

    ul li a{
        text-decoration: none;
    }

    .flex-container{
        display: flex;
        max-width: 992px;
        margin: auto;
        width: 100%;
    }

    header{
        background-color: #122A57;
        height: 100px;
        display: flex;
        align-items: center;
        color: #fff;
    }

    header .list-itens{
        display: flex;
        max-width: 260px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        
        ;
        
    }
    header .list-itens a{
      
      color: #fff  ;
        
    }

    header .menu{
        justify-content: space-between;
    
    }

    .present{
        height: 100vh;
        align-items: center;
        justify-content: space-between;
    }

    .present .presentation-text{
        min-height: 200px;
        
    }

    .present h1{
        color: #122A57;  
        font-size: 48px;
        margin-bottom: 10px;
        
    }
    .btn { 
        margin-top: 15px;
        color: white;
        border-radius: 30px;
        width: 160px;
    display: block;
        background-color: #122A57;
        text-align: center;
        text-decoration: none   ;
    }
div img{
    display: block;
    width: 100%;
}
    #quem-somos {
        align-items: center;
        justify-content: space-between;
    }

    #quem-somos h2 {
        font-size: 32px;
        color: #122A57;
        display: flex;
        margin-bottom: 20px;
    }

    #quem-somos h2::before {
        content: "";
        height: 50px;
        width: 5px;
        margin-right: 5px;
        background-color: #122A57;
        position: relative;
    }

    #quem-somos{
    margin-bottom: 10px;
    width: 90%;
    }

    #quem-somos {
    min-width: 420px;
    
    }

    .flex-container-out{
        background-color: #122A57;
        width: 100%;
    }
    .flex-container-out img{
   
        width: 120px;
      
    }

  

    #Services {
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    #Services h2{
        color: #fff;
        font-size: 32px;
        margin-bottom: 10px;
    }
    .list-services{
        display: flex;
        justify-content: space-around;
        
     
    }

    .list-services  .itens-services{
        
        text-align: center;
    }

    .itens-services a{
        width: 220px;
        background-color: white;
        border-radius: 30px;
        height: 50px;
        text-align: center;
        margin-top: 20px;
        line-height: 50px;
        padding: 5px, 10px;
        color: #122A57;
        font-size: 15px;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        font-weight: bold;
       
    }

    .itens-services p {
        font-weight: 700;
        font-size: 20px;
        color: #fff;
        margin-top: 20px;
    }

    .itens-services img{
        width: 80%;
        margin: auto;
    }

    #planos{
        flex-direction: column;
        display: flex;
    }
    

    .list-planos{
        display: flex;
        
        align-items: flex-end;
    }

    .item-planos{
        flex: 1;
        margin-right: 20px;
        border: 2px solid #122A57;
        
    }